#questions, #answers, #result, #answer-template { display: none; }
span {
  display: block;
  font: 30pt Georgia;
  color: #DE0000;
}
#result div {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #EEE;
}
